html {
  scroll-behavior: smooth;
}


body {
    background-color: #f1f1f1;
}



.raleway {
  font-family: "Raleway", sans-serif;
}

.brand {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.ItemFont {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.btn-font {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

.H1-Font {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
}

.TextPresentacion {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
}

.ContainerPresentacion {
    background-color: #f5f5f5;
}

.titulos {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
}

.parrafos {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
}

.btn-color {
    background-color: #ffff00;
    border: 1px solid #e7e700;
}

.btn-color:hover {
    background-color: #e7e700;
}

.seccion-1 {
    background-color: #edecec;
}

.seccion-2 {
    background-color: #f3f3f3;
}

.lista-normal {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    list-style: none;
    line-height: 3rem;
}

.lista-normal strong {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    list-style: none;
}

.redes {
    background-color: #ffffff;
}

.hr {
    width: 300px;
    margin: 0 auto;
}
.redes ul {
    list-style: none;
    padding: 0 !important;
}

.redes ul li {
    padding: 5px;
}

.footer {
    font-family: "Raleway", sans-serif;
}

.footer h3 {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}

.footer p {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-size: 1rem;
}

.enlaces-footer {
    color: #d7a100;
}

    .enlaces-footer ul {
       font-family: "Raleway", sans-serif;
    }

    .enlaces-footer ul li {
        font-weight: 300;
        color: rgb(133, 133, 133);
    }

    .enlaces-footer ul li a {
        list-style: none;
        color: rgb(133, 133, 133);
    }

    .enlaces-footer a:hover {
        color:#d7a100;
    }

.hr2 {
    color: #d7a100;
}

.textoExplicativo {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}